<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'repositories', repositories_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @title %></li>
  </ol>
</nav>

<%= render 'form', repository: @repository %>