<p id="notice"><%= notice %></p>

<h1>Leaks</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leaks.each do |leak| %>
      <tr>
        <td><%= leak.content %></td>
        <td><%= link_to 'Show', repository_leak_path(repository_id: leak.repository_id, id: leak.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>